@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --primary-color:#0F1B4C;
}
html,body{
    scroll-behavior: smooth;
}
html{
    font-size: 62,5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins',sans-serif;
}
/* Common --> Thành phần dùng chusng */
.content{
    width: 1110px;
    max-width: calc(100% - 48px); 
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.btn:hover{
    opacity: 0.9;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp,2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ======================Header====================== */
.fixed-header{
    background: #E6F0FF;
    position: sticky;
    padding-top: 26px;
    top:-26px;
    z-index: 1;
}
.hero-wrap{
    position: relative;
    display: flex;
    /* Căn giữa chiều cao cho info */
    /* flex-direction: column; */
    justify-content: center;
    background-color: #E6F0FF;
    height: calc(100vh - 90px);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 12px 0px;
    /* padding-top: 38px; */
}

.navbar ul{
    display: flex;
    margin-left: 50px;
}
.navbar .action{
    margin-left: auto;
}

.navbar ul a{
    font-weight: 500;
    font-size: 1.2rem;
    padding: 8px 14px;
    color: #4F5361;
}
.navbar ul a:hover{
    text-decoration: underline;
}
.navbar .action-link{
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--primary-color); 
}
.navbar .action-btn{
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
    font-size: 1.2rem;
}

.hero{
    padding-top: 130px;
}
.hero .info{
    width: 51%;
}
.hero .sub-title{
    font-weight: 500;
    font-size: 1.4rem;
    /* line-height 27px/font-size 18px = 1.5 */
    line-height: 1.5; 
    letter-spacing: 0.01em;
    color: #687690;
}
.hero .title{
    margin-top: 8px;
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 1.19;
    color: #000336;
}
.hero .desc{
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.78;
    color: #5A6473;
}
.hero-cta{
    margin-top: 40px;
    min-width: 170px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: center;
    color: #FFFFFF;
}
.hero .hero-img{
    position: absolute;
    /* Khi thu nhỏ trang web đảm bảo ảnh luôn đi vào trong */
    right: calc((100vw - 1110px) / 2 - 122px);
    bottom: 0;
}

/* =====================  Clients ===================== */
.clients{
    padding: 43px 0 64px;
    margin-top: 79px;
    
}
.clients .row{
    display: flex;
    justify-content: space-between;
}
.clients .row p{
    margin-top: 23px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #7D8589;
}
.clients a{
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 90px;
}
.clients a:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.clients .img{
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ========================= Guides ========================== */
.guides{
    padding: 93px 0 79px;
    margin-top: 40px;
}
.guides .sub-title{
    position: relative;
    font-weight: 600;
    font-size: 2.9rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}
.guides .sub-title::before{
    content: " ";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 44px;
    height: 4px;
    background: #000339;
    border-radius: 12px;

}
.guides .desc{
    width: 459px;
    max-width: 459px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.9;
    text-align: center;
    color: #5A6473;
}
.list-guide{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.list-guide .item{
    margin: 0px 70px;
    text-align: center;
}
.list-guide .title{
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3B3C45;
}
.list-guide .link{
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #0689FF;
}
.list-guide .vector{
    margin-left: 4px;
}
.guide-cta{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.guide-cta .btn{
    min-width: 170px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #FFFFFF;
}

/* ================== Featured ========================= */
.featured{
    margin-top: 41px;
    padding-top: 110px;
    padding-bottom: 280px;
    background: #F5FAFE;

}
.featured .sub-title{
    font-weight: 600;
    font-size: 2.9rem;
    line-height: 1;
    color: #000339;
}
.featured .row{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured .desc{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.1;
    color: #5A6473;
}
.featured .link{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #0689FF;
}
.featured .vector{
    position: relative;
    top: -4px;
    margin-left: 8px;
}

.featured .list{
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.featured .item{
    flex: 1;
    position: relative;
}
.featured .thumb{
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body{
    position: absolute;
    width: 100%;
    top: 98%;
    padding: 17px 20px 24px;
    background-color: #fff;
    border-bottom-left-radius:12px ;
    border-bottom-right-radius:12px ;
}
.featured .item .title a{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2;
    color: #000339;

}
.featured .info{
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.featured .item .desc{
    /* Dấu 3 chấm ... */
    --line-clamp:3
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #A3A6AB;
    word-break: break-all; 
}
.featured .icon:first-child{
    margin-left: 0px;
}
.featured .icon{
    margin-left: 23px;
}
.featured .item .label{
    margin-left: 12px;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4D4D52;
}

/* ================== Stats ========================= */
.Stats{
    margin-top: 75px;
    padding: 50px 0;
}
.Stats .row{
    display: flex;
}
.Stats .content{
    width: 1048px;
}
.Stats .img-block,.Stats .info{
    width: 50%;
}
.Stats .img-block{
    position: relative;
}
.stast-trend{
    width: 239px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px 22px 40px;
    background: #FFFFFF;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}
.stast-trend .row{
    display: flex;
}
.stast-trend .value{
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}
.stast-trend .icon{
    margin-left: auto;
}
.stast-trend .desc{
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #A7A7A7;
}
.stast-trend .separate{
    margin-top: 26px;
    height: 1.2px;
    background: #E9E9E9;
}

.stast-trend .avatar-block{
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}
.stast-trend .avatar-group{
    display: flex;
}
.stast-trend .avatar{
    width: 16px;
    height: 16px;
    object-fit: cover;
    margin-left: -3px;
    border-radius: 50%;
}
.stast-trend .avatar:first-child{
    margin-left: 0;
}
.stast-trend .avatar-1{
    background: #1F3BB1;
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.stast-trend .avatar-2{
    background: #24D6D9;
}
.stast-trend .avatar-3{
    background: #F8C120;
}
.stast-trend .avatar-4{
    background: #F97F6B;
}
.stast-trend .avatar-5{
    background: #73A242;
}
.stast-trend .avatar-6{
    background: #1F3BB0;
}

.Stats .info{
    padding: 79px 165px;
}
.Stats .image{
    display: block;
    margin-left: auto;
    width: 460px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.Stats .sub-title{
    width: 269px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.3;
    color: #000339;
    position: relative;
}
.Stats .sub-title::before{
    content: "";
    display: block;
    position: absolute;
    top:-10px;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;    
}
.Stats .info .desc{
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #5A6473;
}

.Stats .row-qty{
    margin-top: 130px;
    padding: 0px 32px;
    justify-content: space-between;
}
.Stats .qty{
    font-weight: 600;
    font-size: 5rem;
    line-height: 1;
    color: #000000;
}
.Stats .qty-desc{
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #7B8087;
}

/* ================= Subsrciption =============== */
.subscription{
    margin-top: 90px;
    padding-top: 39px;;
}
.subscription .body{
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}
.subscription .info{
    width: 670px;
    max-width: 100%;
    padding: 0 80px;
}
.subscription .sub-title{
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #FFFFFF;
}
.subscription .desc{
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.75;
}
.subscription .btn{
    margin-top: 20px;
    background: #FFFFFF;
    min-width: 151px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: center;
    color: #002366;
}
.subscription .image{
    position: absolute;
    right: 221px;
    bottom: 0;
}

/* ================== Footer ========================= */
.footer{
    margin-top: 50px;
    padding: 50px 0px 58px;
}
.footer .row{
    display: flex;
}
.footer .row-top{
    gap: 185px;
}
.footer .heading{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #1C1C1D;
}
.footer .list{
    margin-top: 42px;
}
.footer .list li{
    margin-top: 18px;
}
.footer .item a,.footer .desc{

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #7A7A7E;
    white-space: nowrap;
}
.footer .desc{
    margin-top: 40px;
    white-space: normal;
    line-height: 1.75;
}
.footer .social{
    margin-top: 40px;
    display: flex;
    gap: 16px;
}
.footer .social-link{
    width: 28px;
    height: 28px;
    background: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.footer .social-link:hover{
    background-color: #f1f0f0;
}
.footer .row-bottom{
    display: flex;
    align-items: center;
    margin-top: 81px;
    justify-content: space-between;
}
.footer .copyright{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #C2C2C2;
}